button {
    background: green;
    color: ivory;
}

#blue {
    color: blue;
}

#red {
    color: red;
}

.pink {
    color: palevioletred;
    background: purple;
}

div {
    width: 300px;
    margin-top: 300px;
    height: 200px;
    background: rgba(197, 188, 188, 0.877);
}
